html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'Kalam';
    src: url('fonts/Kalam/Kalam-Bold.ttf') format("truetype"),
         url('fonts/Kalam/Kalam-Light.ttf') format("truetype"),
         url('fonts/Kalam/Kalam-Regular.ttf') format("truetype");
}
@font-face {
	font-family: 'Noto Sans';
	src: url('fonts/NotoSansTC/NotoSansTC-Thin.ttf') format("truetype"),
		 url('fonts/NotoSansTC/NotoSansTC-Black.ttf') format("truetype"),
		 url('fonts/NotoSansTC/NotoSansTC-Bold.ttf') format("truetype"),
		 url('fonts/NotoSansTC/NotoSansTC-Light.ttf') format("truetype"),
		 url('fonts/NotoSansTC/NotoSansTC-Medium.ttf') format("truetype"),
		 url('fonts/NotoSansTC/NotoSansTC-Regular.ttf') format("truetype");
  }

.wrap{
    margin: 0 auto;
}

.header{
	background-color: #FFFFFF;
}
.header{
	max-width: 100%;
	height: 88px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header img{
	margin-top: 24px;
	margin-left: 62px;
	margin-bottom: 24px;
}
.header .showmenu {
	display: none;
}
.header .menu{
	display: flex;
	justify-content: flex-start;
}
.header .menu li{
	text-align: center;
	font: normal normal normal 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
}
.header .menu li a{
	margin-top: 34px;
	margin-right: 48px;
	margin-bottom: 32px;
	color: black;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .menu li a:hover{
	color: #F9C745;
}
.header .btn{
	margin: 34px 60px 32px 2px;
	width: 176px;
	height: 38px;
	background: #F9C745;
	border-radius: 23px;
	border-width: 0px;
}
.header .btn a{
	text-decoration: none;
	text-align: center;
	font: normal normal normal 16px/22px Noto Sans;
	color: #3A3A3A;
}
.header .btn:hover{
	box-shadow: 0px 3px 0px black;
}

.box1{
	position: relative;
}  
.box2{
	position: absolute;
	bottom:0px;
	right:62px;
}
.box2 .test{
	margin-bottom: 20.99px;
	border-radius: 10px;
	text-align:center;
	width:114px; 
	padding:8px 23px;
	background: #FFFFFF;
	border:2px solid #3A3A3A; 
	position:relative;
}
.box2 .test span{
	width:0; 
	height:0; 
	font-size:0; 
	overflow:hidden; 
	position:absolute;
}
.box2 .test span.bot{
	border-width:20px; 
	border-style:solid dashed dashed; 
	border-color:#3A3A3A transparent transparent; 
	left:80px; 
	bottom:-40px;
}
.box2 .test span.top{
	border-width:20px; 
	border-style:solid dashed dashed; 
	border-color:#ffffff transparent transparent; 
	left:80px; 
	bottom:-37px;
}
.box2 img:hover{
	
}


.service{
	height: 606px;
	display: flex;
	background-image: url("圖片資源/lightpaperfibers.png");
}
.service img{
	margin-top: 80px;
	margin-left: 172px;
	margin-bottom: 40px;
	margin-right: 48px;
	width: 648px;
	height: 486px;
}
.service h1{
	margin-top: 178px;
	text-align: left;
	font: normal normal bold 24px/39px Kalam;
	size: 39px;
	letter-spacing: 0px;
	color: #F9C745;
	opacity: 1;
}
.service h2{
	text-align: left;
	font: normal normal bold 32px/51px Kalam;
	letter-spacing: 0px;
	color: #3A3A3A;
}
.service p{
	text-align: left;
	font: normal normal normal 16px/32px Noto Sans;
	letter-spacing: 1.28px;
	color: #3A3A3A;
}

.protfolio{
	background-image: url("圖片資源/lightpaperfibers.png");
    text-align: center;
}
.protfolio .title{
	padding-top: 40px;
	margin-bottom: 40.25px;
}
.protfolio .title img{
	width: 250px;
	height: 134px;
}
.protfolio .art{
	display: inline-block;
}
.protfolio .art li{
	display: inline-flex;
	margin-left: 24px;
}
.protfolio .art img{
	width: 312px;
	height: 312px;
	border-radius: 24px;
}
.protfolio .btn{
	margin-top: 42px;
	padding-bottom: 37px;
}
.protfolio .btn a{
	margin-left: 24px;
}
.protfolio .btn .b1{
	width: 216px;
	height: 44px;
	background: white;
	border: 1px solid #3A3A3A;
	border-radius: 23px;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.protfolio .btn .b1:hover{
	width: 216px;
	height: 44px;
	background: #F9C745 0% 0% no-repeat padding-box;
	border: 1px solid #F9C745;
	border-radius: 23px;
	opacity: 1;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.protfolio .btn .b2{
	width: 216px;
	height: 44px;
	background: #F9C745 0% 0% no-repeat padding-box;
	border-radius: 23px;
	border-color: #F9C745;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.protfolio .btn .b2:hover{
	box-shadow: 0px 3px 0px black;
}


.adopt{
	background-image: url("圖片資源/lightpaperfibers.png");
    text-align: center;
	padding-bottom: 79px;
}
.adopt .title2 img{
	padding-top: 42px;
	margin-bottom: 24.25px;
	width: 250px;
	height: 134px;
}
.adopt p{
	text-align: center;
	font: normal normal normal 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
}
.adopt .dog_card{
	margin-top: 48px;
	margin-left: 60px;
	margin-bottom: 60px;
	display: flex;
}
.adopt .dog_card div{
	width: 424px;
	height: 621px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 8px #00000014;
	border-radius: 24px;
	opacity: 1;
}
.adopt .dog_card .item .li{
	text-align: center;
	width: 424px;
	height: 424px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 8px #00000014;
	border-radius: 24px;
	opacity: 1;
}
.adopt .dog_card .l1{
	margin-left: 24px;
	margin-right: 24px;
}
.adopt .dog_card img{
	border-radius: 24px 24px 0px 0px;
	margin-bottom: 30px;
}
.adopt .dog_card h1{
	text-align: left;
	font: normal normal bold 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
	margin-left: 24px;
	margin-bottom: 16px;
}
.adopt .dog_card p{
	text-align: left;
	font: normal normal normal 16px/24px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 26px;
}
.adopt .dog_card hr{
	width: 376px;
	border: 1px solid #ECECEC;
	margin-bottom: 16px;
}
.adopt .dog_card .item a{
	text-decoration: none;
}
.adopt .dog_card h2{
	text-align: center;
	font: normal normal bold 16px/25px Kalam;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
	margin-bottom: 16px;
}
.adopt .btn{
	width: 216px;
	height: 44px;
	background: white;
	border: 1px solid #3A3A3A;
	border-radius: 23px;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.adopt .btn:hover{
	width: 216px;
	height: 44px;
	background: #F9C745 0% 0% no-repeat padding-box;
	border: 1px solid #F9C745;
	border-radius: 23px;
	opacity: 1;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}

.wrap hr{
	width: 100%;
	border: 3px solid #F9C745;
	opacity: 1;
}

.footer{
	background-color: #FFFFFF;
}
.footer .contact ul{
	margin-top: 48px;
	margin-left: 232px;
	margin-bottom: 50px;
}
.footer .contact li{
	display: inline-block;
}
.footer .contact .pic{
	max-width: 100%;
	height: 127px;
	margin-right: 24px;
}
.footer .contact .text{
	margin-right: 48px;
}
.footer .contact h1{
	margin-bottom: 5px;
	text-align: left;
	font: normal normal normal 24px/33px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.footer .contact p{
	margin-bottom: 14px;
	text-align: left;
	font: normal normal normal 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.footer .contact .btn{
	width: 176px;
	height: 44px;
	background: white;
	border: 1px solid #3A3A3A;
	border-radius: 23px;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.footer .contact .btn:hover{
	width: 176px;
	height: 44px;
	background: #F9C745 0% 0% no-repeat padding-box;
	border: 1px solid #F9C745;
	border-radius: 23px;
	opacity: 1;
	text-align: center;
	font: normal normal normal 20px/27px Noto Sans;
	letter-spacing: 0px;
	color: #3A3A3A;
	opacity: 1;
}
.footer .copyright{
	height: 70px;
	background: #3A3A3A 0% 0% no-repeat padding-box;
	opacity: 1;
}
.footer .copyright p{
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: center;
	font: normal normal normal 16px/22px Noto Sans;
	letter-spacing: 0px;
	color: #FFFFFF;
}